nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='/') Plural Sight Demo
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarText', aria-controls='navbarText', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarText.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href='/') Home
            li.nav-item
                a.nav-link(href='/add') Add Question